<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Career</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="logo-popup.png">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="css/headers/header-default.css">
    <link rel="stylesheet" href="css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="plugins/animate.css">
    <link rel="stylesheet" href="plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/flexslider/flexslider.css">     
    <link rel="stylesheet" href="plugins/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="plugins/fancybox/source/jquery.fancybox.css"> 
    <link rel="stylesheet" href="plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <!--[if lt IE 9]><link rel="stylesheet" href="plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen"><![endif]-->

    <!-- CSS Pages Style -->    
    <link rel="stylesheet" href="css/pages/page_one.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="css/custom.css">
</head>	

<body>

<div class="wrapper">     
    <!--=== Header ===-->
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="index.html">
                <img style="width:174px; height:39px;" src="img/logo_lungvang.png" alt="Logo">
            </a>
            <!-- End Logo -->

            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="languages hoverSelectorBlock">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a>
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_faq.html">Help</a></li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_login.html">Login</a></li>
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <img style="width: 40px; height: 40px; " src="img/button.png">
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li>
                        <a href="./index.html">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="./company.html">
                            Company
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- Pages -->                        
                    <li class="dropdown">
                        <a href="./product.html">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="media_and_communication.html">Media & Communication</a></li>
                            <li><a href="software_as_a_service.html">Software as a Service</a></li>
                            <li><a href="game_publisher.html">Game Publishing</a></li>
                            <li><a href="venture_capital.html">Venture Capital</a></li>
                            <li><a href="development_center.html">Business Developing Center</a></li>
                            <li><a href="system_integration.html">System Integration</a></li>
                        </ul>
                    </li>
                    <!-- End Pages -->

                    <!-- Blog -->
                    <li>
                        <a href="./investor_relation.html">
                            Investor relations
                        </a>
                    </li>
                    <!-- End Blog -->

                    <!-- Portfolio -->
                    <li>
                        <a>
                            News
                        </a>
                    </li>
                    <!-- End Portfolio -->

                    <!-- Features -->
                    <li class="dropdown">
                        <a href="./career.html">
                            Careers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="career.html">Career</a></li>
                            <li><a href="jobs.html">Lung Vang Hiring</a></li>
                        </ul>
                    </li>                    
                    <!-- End Features -->

                    <!-- Shortcodes -->
                    <li>
                        <a href="contact_us.html" style="padding-right:0px">
                            Contact us
                        </a>

                    </li>
                    <!-- End Shortcodes -->

                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>

    <div class="container" style="width:100%; padding: 0;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" >
            <!-- Indicators -->
            <ol class="carousel-indicators" >
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <div class="ir-banner" id="bg-image1">
                        <div class="star-icon" id="star-icon-1-left"><i class="fa fa-star-o"></i></div>
                        <div class="star-icon" id="star-icon-1-right"><i class="fa fa-star-o"></i></div>
                        <div class="ratio-46" >
                            <img alt="Ảnh bìa" src="img/career/header3.png" />
                            <div class="bg-black7"></div>
                            <div class="home_top_banner">
                                <div>
                                    <h3 >MAKE YOUR OWN CAREER</h3>
                                    <h2></h2>
                                    <p>At Lung Vang, we give you enough tools that 
                                      <br><br>
                                      you can build your own path to success.
                                    </p>
                                    <h1></h1>
                                    <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: -12px;">Learn More</a>
                                    <a href="" ng-click="goToExlorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 2px">  Our Work  </a>
                              </div>
                            </div>
                            <!-- # Home top banner -->
                        </div>
                        <!-- # ratio-46 -->
                    </div>
                </div>

                <div class="item">
                    <section class="ir-banner" id="bg-image2">
                        <div class="star-icon" id="star-icon-2-left"><i class="fa fa-star"></i></div>
                        <div class="star-icon" id="star-icon-2-right"><i class="fa fa-star"></i></div>
                        <div class="ratio-46" >
                            <img alt="Ảnh bìa" src="img/career/header2.png" />
                            <div class="bg-black7"></div>
                            <div class="home_top_banner">
                                <div>
                                    <h3 >BE WHOEVER YOU WANT TO BE</h3>
                                    <h2></h2>
                                    <p>There is no boundary on the career road
                                      <br><br>
                                      you want to conquer in Lung Vang.
                                    </p>
                                    <h1></h1><br>
                                    <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: -12px;">Learn More</a>
                                    <a href="" ng-click="goToExlorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 2px">  Our Work  </a>
                              </div>
                            </div>
                            <!-- # Home top banner -->
                        </div>
                        <!-- # ratio-46 -->
                    </section>
                </div>

                <div class="item">
                    <section class="ir-banner" id="bg-image3">
                        <div class="star-icon" id="star-icon-3-left"><i class="fa fa-star"></i></div>
                        <div class="star-icon" id="star-icon-3-right"><i class="fa fa-star"></i></div>
                        <div class="ratio-46" >
                            <img alt="Ảnh bìa" src="img/career/header1.png" />
                            <div class="bg-black7"></div>
                            <div class="home_top_banner">
                                <div>
                                    <h3 >EXPLORE YOURSELF TO THE MOST</h3>
                                    <h2></h2>
                                    <p>The challenging workspace in Lung Vang
                                      <br><br>
                                      forces you to grow up any given day.
                                    </p>
                                    <h1></h1><br>
                                    <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: -12px;">Learn More</a>
                                    <a href="" ng-click="goToExlorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 2px">  Our Work  </a>
                              </div>
                            </div>
                            <!-- # Home top banner -->
                        </div>
                        <!-- # ratio-46 -->
                    </section>
                </div>

            </div>
            <!--<a class="carousel-control" href="#bnSlider" data-slide="prev"></a>-->
        
        </div>
    </div>

    <!-- End Intro Section -->

    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>Lung Vang aims to be the most unique multinational company.</span>
                    <p>Lung Vang desires to be the most powerful company which has sayings on all social aspects. With our enormous sectors, we can bring the whole world together in a no-bound space named Lung Vang.</p>
                </div>            
                <div class="col-md-3 btn-buy animated fadeInRight" style="text-align:right">
                    <a href="#" class="btn-u btn-u-orange"><i class="fa fa-cloud-download"></i> Download Now</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="one-page">
        <div class="one-page-inner one-default">
            <div class="container content">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Community courses</h1>                        
                        <p>Learning never stops, especially for those who belong to Lung Vang. We don’t encourage human machine, doing whatever they are told here, so that we hold weekly talk shows with experts about professional knowledge and skills that are very useful for their work and daily life, then checking our staffs and offering them certificates of accomplishment.</p><br>
                        <a class="btn-u btn-u-orange one-page-btn"><i class="fa fa-bolt"></i> Community courses</a>
                    </div>
                    <div class="col-md-6">
                        <img src="img/career/cource.jpg" class="img-responsive margin-bottom-10" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="one-page-inner one-blue" style="background: #3498db">
            <div class="container content">
                <div class="row">
                    <div class="col-md-6">
                        <img src="img/career/internship.jpg" class="margin-bottom-10 img-responsive" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2  style="color:white" >Internships</h2>
                        <p  style="color:white" >Interns are treated as new staffs in Lung Vang. We put them under the real pressures of work, giving them the full instructions, asking them to deal with the problems that scare our staffs daily, shape them in the work process we maintain in Lung Vang. Thus, after the period of Internship, we do believe they are strong and experienced enough to work for whatever company.</p>
                        <p  style="color:white" >Besides, what differentiates Lung Vang internships from others is the total training we offer. Our interns are allowed with professional seminars, business visit tours, etc. In turn, they will run projects and events to contribute what they have learned in Lung Vang for community. We do believe this way will exaggerate the number of talents in Vietnam as a whole.</p>
                        <a class="btn-u btn-u-red one-page-btn"><i class="fa fa-bell"></i> Internships</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="one-page-inner one-default">
            <div class="container content">
                <div class="row ">
                    <div class="col-md-6">
                        <h2>Events</h2>
                        <p>Bringing world-wide elite events to Lung Vang, giving our staffs the chance to experience and compete with each other before asking them to spreading throughout Vietnam is how Lung Vang can foster Vietnamese talents. For years, we have successfully activated dozens of events in Vietnam which can be named as Codecamp, Techcamp, Cash flow.</p>
                        <a class="btn-u btn-u-blue one-page-btn"><i class="fa fa-bullhorn"></i> Events</a>
                    </div>
                    <div class="col-md-6">
                        <img src="img/career/event.png" class="img-responsive" alt="">
                    </div>
            </div>
        </div>

        <div class="one-page-inner one-blue" style="background: #e74c3c;">
            <div class="container content">
                <div class="row">
                    <div class="col-md-6">
                        <img src="img/career/recruitment.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2  style="color:white" >Lung Vang Hiring</h2>
                        <p style="color:white" >Once becoming a part of Lung Vang, you will not be amazed at usually meeting new collegues since we hardly say no to talents throughout the world..</p>
                        <p style="color:white" >All what you need to get involved in Lung Vang is going online, searching for Lung Vang vacancies or take a round with our below “LV Hiring”. 
                        Don’t you hesitate because we can not wait to seeing you! Say “Hi” to Lung Vang, you will certainly be welcomed!.</p>
                        <a href="./Jobs.html" class="btn-u btn-u-orange one-page-btn"><i class="fa fa-briefcase"></i> Lung Vang Hiring</a>
                    </div>
                </div>
            </div>
        </div>    
        

        <div class="one-page-inner one-default">
            <div class="container content">
                
                
                <hr>
                
                <div class="row content-boxes-v2">
                    <div class="col-md-4 md-margin-bottom-30">                
                        <h3 class="heading-sm">
                            <img style="width:50px; height:50px; margin-right:5px; " src="img/career/workspace_icon.png"/>
                            <span>Great workspace</span>
                        </h3>
                        <p>Instead of sitting for hours in a room with dozens of people and equipment, worrying about being watched over by strict supervisors, our staffs can work wherever they want as long as they can make good results and reach the weekly targets put on them. Flexible hours and places allow our staffs good arrangements of their daily life; thus, they can do much more things with their 24 hours.</p>
                    </div>
                    <div class="col-md-4 md-margin-bottom-30">
                        <h3 class="heading-sm">
                            <img style="width:50px; height:50px; margin-right:5px; " src="img/career/self_development_icon.png"/>
                            <span>Chances of self-development</span>
                        </h3>
                        <p>Lung Vang staffs are not people who just do the things they are asked but people who point out what they need to do on their own. By this way, we create positive people in Lung Vang, teaching them to be the owner of their own lives, which gives them not only the comfort and responsibility in work but also the chances to do multiple things with great time management and planning skills. </p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="heading-sm">
                            <img style="width:50px; height:50px; margin-right:5px; " src="img/career/opportunity_icon.png"/>
                            <span>Lifetime opportunities</span>
                        </h3>
                        <p>Promotions, durable relationships, deep knowledge of many fields, suffice soft skills are what we guarantee for all staffs under the training and practice at Lung Vang. Therefore, being a part of Lung Vang, where people can follow their dreams, sharpen their minds, enrich their skills and reach to the zenith of their careers, is a rare lifetime opportunity. </p>
                    </div>
                </div>
            </div>
        </div>    
    </div><!--/one-page-->
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">o
                        <a href="index.html" style="margin-left: -10px;"><img id="logo-footer" class="footer-logo" style="width:185px; height:45px" src="img/logo_footer.png" alt=""></a>
                        <p>Lung Vang Company aims to be key integrated service provider tooled with its unparalleled intellectual capital and unmatched global capability.</p>
                        <!--<p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>    -->
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Products</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">Media & Communication</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Software As a Service </a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Game Publishing</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Venture Capital</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Business Developing Center</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">System Integration</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact</h2></div>
                        <address class="md-margin-bottom-40">
                            3700 Wilshire Blvd. Suite 860 <br />
                            Los Angeles, CA 90010, USA. <br />
                            Phone:+1 800 123 3456 <br />
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2015 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i><img style="width: 25px; height:25px " src="img/social_icon/fb_icon.png"/></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus">
                                        <img style="width: 25px; height:25px " src="img/social_icon/ggplus_icon.png"/>
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin">
                                        <img style="width: 25px; height:25px " src="img/social_icon/likedin_icon.png"/>
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest">
                                        <img style="width: 25px; height:25px " src="img/social_icon/twitter_icon.png"/>
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<style>

    .owl-clients-v1 > .item{
        float: left;
        margin: 30px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
    }

    /* Banner top */
    .ratio-46 {
        position: relative; width: 100%;
        padding-bottom: 40%;
    }
    .ratio-46 > img {
        position: absolute; width: 100%;
        height: 100%; top: 0; left: 0;
        right: 0; bottom: 0; margin: auto;
    }
    .bg-black7 {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%; height: 100%;
    }
    .ir-banner { position: relative;}
    .ir-banner:after {
        /*  content: "";
          width: 100%;    height: 10px;
          position: absolute;
          bottom: 0;    left: 0;
          background: linear-gradient(-60deg,#fff 25%,transparent 25%) center top repeat-x,
                      linear-gradient(-120deg,transparent 75%,#fff 75%) center top repeat-x;
          background-size: 9px 10px;*/
    }
    .home_top_banner {
        position: absolute;
        width: 100%; height: 100%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .home_top_banner div {
        position: relative;
        top: 38%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
    }
    .home_top_banner div h3 {
        color: white;
        font-size: 33px;
        width: 100%;
        margin: 40px auto 20px auto;
        line-height: 49px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        visibility: visible;
    }

    .home_top_banner div h1 {
        color: white;
        font-size: 33px;
        width: 50px;
        margin: 40px auto 20px auto;
        line-height: 49px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        visibility: visible;
        border-top: 1px solid #FFF;
    }

    .home_top_banner div h2 {
        color: white;
        font-size: 33px;
        width: 200px;
        margin: 40px auto 20px auto;
        line-height: 49px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        visibility: visible;
        border-bottom: 1px solid #FFF;
    }

    .home_top_banner div p {
        color: white;
        line-height: 23px;
        font-size: 20px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        /*padding-bottom: 25px;*/
    }

    @media only screen and (max-width: 767px) {
        .ratio-46 {   padding-bottom: 345px;     }
        .home_top_banner div h3 {
            font-size: 4vw; width: 100%;
        }
    }

    @media only screen and (max-width:  380px) {
        .home_top_banner div h3 {
            font-size: 15px;
        }
    }

    .carousel-control{
        position: absolute;
        top: 45%;
        left:15px;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        font-size: 60px;
        font-weight: 100;
        line-height: 30px;
        color: #FFF;
        text-align: center;
        background: none repeat scroll 0 0 #222;
        opacity: 0.5;
        border-radius: 100%;
    }
    .carousel-control.right {
        left: auto;
        right: 15px;
    }

    .ir-banner{
        background-color: rgba(0, 0, 0, 0);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .ir-banner:before {
        top: 0; left: 0;
        width: 100%; height: 100%; content: " ";
        position: absolute;
         }
</style>

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="plugins/back-to-top.js"></script>
<script type="text/javascript" src="plugins/smoothScroll.js"></script>
<script type="text/javascript" src="plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/plugins/fancy-box.js"></script>
<script type="text/javascript" src="js/plugins/style-switcher.js"></script>
<script type="text/javascript" src="js/plugins/revolution-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        FancyBox.initFancybox();
        StyleSwitcher.initStyleSwitcher();        
        RevolutionSlider.initRSfullWidth();
    });
</script>
<!--[if lt IE 9]>
    <script src="plugins/respond.js"></script>
    <script src="plugins/html5shiv.js"></script>
    <script src="plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>